header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 20px;
}

nav a:hover {
    color: darkcyan;
}

nav a:focus {
    outline: 2px solid orange;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1;
    flex-basis: 200px;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}


#page-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    flex-direction: column;
}

/* nav starts to look cramped at a width of 430px. it is still functional up until a width of 375, at which point each row is filled with only one card. any smaller and it will start overlapping. */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* playing with the auto-fill styles for my wrapper */